*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
    list-style:  none;
}
html{
    scroll-behavior: smooth;
}

body{
   font: 14px/1.2  'Montserrat', sans-serif;
}
.container{
    margin: auto;
    overflow: hidden;
    width: 80%;
    

}
.nav{
    position: fixed;
    height: 70px;
    line-height: 1.2;
    z-index: 2;
    padding-bottom: 15px;
    width: 100%;
    background-color: #013444;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 2px solid #030f137c;
}
.logo{
    margin-left: 15%;
    margin-top: 10%;
}
.collection li{
    display: inline;
}
.collection{

    margin-top: 5%;
    text-align: right;
    padding-right: 40px;
   
}

.collection li a{
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    
}
.collection li a:hover,.collection li a:active{
   border: 1px double  rgb(135, 206, 28);
   border-radius:5px ;
   -webkit-border-radius:5px ;
   -moz-border-radius:5px ;
   -ms-border-radius:5px ;
   -o-border-radius:5px ;
   transition: all 0.8s;
   text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.61),1px 1px 1px rgba(135, 206, 28, 0.548);
   -webkit-transition: all 0.8s;
   -moz-transition: all 0.8s;
   -ms-transition: all 0.8s;
   -o-transition: all 0.8s;
}

#homeParticles-js{
    height:100vh;
    background-color: #023646 ;
}
.tech{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    margin-top: 48vh;
    font-size: 2em;
    width: 50%;
    margin-left: 5%;
    line-height: 1;
    color: rgba(145, 228, 20, 0.705);
}

#about{
    height: 110vh;
    color: rgb(13, 83, 148);
}
.ring1{
    width:140px;
    height: 120px;
    margin-top: 55vh;
    margin-left: -5vw;
    position: absolute;
    border: 1px solid rgba(13, 83, 148, 0.123);
    border-radius: 50%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.ring2{

    width:240px;
    height: 200px;
    margin-top: 46vh;
    margin-left: -10vw;
    position: absolute;
    border: 1px solid rgba(13, 83, 148, 0.329);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.ring3{
    width:340px;
    height: 320px;
    margin-top: 34vh;
    margin-left: -15vw;
    position: absolute;
    border: 1px solid rgba(13, 83, 148, 0.185);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.ring4{
    width:80vw;
    height: 90vh;
    margin-top: 25vh;
    margin-left: -15vw;
    z-index: -1;
    position: absolute;
    border: 1px solid rgba(13, 83, 148, 0.171);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.ring5{
    width:90vw;
    height: 100vh;
    margin-top: -2vh;
    margin-left: -20vw;
    z-index: -4;
    position: absolute;
    border: 1px solid rgba(13, 83, 148, 0.116);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.mission{
    padding: 5%;
    width: 70%;
    margin: auto;
}
.mission h1{
font-size: 2em;
width: fit-content;
padding:20px 0 5px 0;
margin: auto;
border-bottom: 1px solid ;
margin-bottom:10px;
}
.company{
    font-size: 20px;
    font-weight: 100;
}

/* area */
#foucsParticles-js{
    padding: 5%;
    
    height: 170vh;
   
    background: linear-gradient(50deg,rgba(35, 153, 231, 0.815),rgba(43, 184, 43, 0.801));
}
.area{
    color: white;
    background-color: rgb(80, 77, 77);
    position: absolute;
    background-color: transparent;
    width: fit-content;
    margin-left: 34vw;
    font-size: 1.5em;
    padding: 6px;
    border-bottom: 1px solid;
}

.focus{
    display: grid;
    grid-gap: 2em;
    margin-right: 4vw;
    margin-top: 5%;
    grid-template-columns: repeat(auto-fit, minmax(10em , 1fr));
}
.card{
    background-color: white;
    min-height: 100vh;
}
.card img{
    width: 100%;
}
.card h2{
    position: absolute;
    margin-top: -5%;
    margin-left: 10%;
    color: white;
    font-weight: 200;
}
.foing{
    position: absolute;
    margin-top: 10%;
}
.cardSub{
    padding: 15px;
    color:  #013444;  
    margin-bottom: 25px;

}
.cardSub h1{
    padding: 8px 0 ;
}
.cardSub p{
    font-weight: 100;
    line-height: 1.4;
    font-family: "Open Sans" sans-serif;
    font-size: 12px !important
}
.card:hover{
    transition: 0.8s ease-out;
    box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.39), -1px 2px 10px black;
    -webkit-transition: 0.8s ease-out;
    -moz-transition: 0.8s ease-out;
    -ms-transition: 0.8s ease-out;
    -o-transition: 0.8s ease-out;
}

/* success */
#success{
    min-height: 80vh;
    color: rgba(23, 68, 109, 0.938);
    
}
.story{
    width: 70%;
    margin: auto;
    padding-top: 5%;
    
}
.story h1{
    text-align: center;
    font-size: 2em;
    color: rgba(14, 89, 160, 0.938);
    padding-bottom: 15px;
    margin-bottom: 5%;
}
.line{
    color: rgba(14, 89, 160, 0.938);
    border-bottom: 2px solid;

}
.finatech{
    width:100%;
}
#joinUs{
    background: linear-gradient(110deg,#01344456,#013444e0),url('./img/classic-3d-background-4.jpg');
    height: 65vh;
    background-size: cover;
    color: white;
    box-shadow: 2px 2px 40px  black;
    background-attachment: fixed;
    position: static;
}
.join{
    width: 70%;
    margin: auto;
    padding: 5% 0;
}
.join h1{
    text-align: center;
    font-size: 2em;
    width: 20%;
    border-bottom: 1px solid;
    margin: auto;
    padding-bottom: 10px;
}

.join p{
    margin-top: 5%;
    font-size: 1.2em;
}
#office{
    min-height: 100vh;
    color: white;
    background-attachment: fixed;
}

.demail{
    margin-top: 2%;
    width: 60%;
    margin-left: 20%;
    /* margin: auto; */
    min-height: 10vh;
    grid-gap: 1em;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(10em ,1fr));
    grid-auto-rows: minmax(50px ,auto);
    

}
.form-control{
    padding-left:10px ;
    font-size: 20px;
}
.btn{
    background-color: rgb(0, 132, 255);
    border: none;
    color: white;
    outline: none;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}
.garden{
    display: grid;
    margin: auto;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    padding: 15px;
    width: 80%;
}
.subs{
    background: #013444;
    margin-top: 5%;
    border-bottom:2px solid rgba(10, 10, 10, 0.212);
}
.maddo{
    width:fit-content;
    margin-top: 10%;
}

.foot{
    margin: auto;
    display: grid;
    width: 80%;
    line-height: 60px;
    grid-template-columns: repeat(auto-fit, minmax(5em ,1fr));
}
.footer{
    min-height: 70px;
    background-color: #013444;
    
}
.foot1{
    text-align: right;
}
.foot1 a{
    color: white;
    margin-left: 10px;
    font-size: 10px;
    padding: 4px 7px;
    border: 1px solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.checkbtn{
    color: white;
    background-color: black;
    width: fit-content;
    font-size: 2em;
    padding: 2px 6px;
    position: absolute;
    right: 10%;
    margin-top: 3%;
    display: none;

}

#check{
    display: none;
    position: absolute;
}
@media(max-width:975px){
    .mission{
        width: 90%;
    }
    
}


@media(max-width:690px){
    .foot{
        display: block;
        margin: auto;
        text-align: center;
    }

    .foot1{
        text-align: center;
    }
    .collection{
        background-color: rgba(0, 0, 0, 0.733);
        position: fixed;
        width: 100%;
        height: 35vh;
        margin-top: -200px;
        padding-top:15px ;
        transition: 0.8s ease-in-out;
        -webkit-transition: 0.8s ease-in-out;
        -moz-transition: 0.8s ease-in-out;
        -ms-transition: 0.8s ease-in-out;
        -o-transition: 0.8s ease-in-out;
}
    .checkbtn{
        display: block;
    }
    .collection li{
        display: block;
        line-height: 30px;
        text-align: left;
        border-bottom: 2px solid #084a5ed0;   
    }

    #check:checked ~ .collection{
        margin-top: 70px;
    }
    .mission{
        margin-top: -5%;
        font-size: 15px;
        width: 100%;

    }
    .company{
        font-size: 16px;
       
    }
    .area {
        margin-left:27%;
    }
    
    body{
        line-height: 1;

    }
    .garden1 img{
        width: 60%;
        margin: auto;
    }
    .focus{
        display: block;
        margin-top: 5%;
    }
    #foucsParticles-js{
        height: 300vh;
    }
    .card{
        margin-top: 10%;
        width: 70%;
        margin-left: 20%;
        min-height: 20vh;
    }
   
    .card h2{
        position: absolute;
        margin-top: -5%;
        margin-left: 25%;
        color: white;
        font-weight: 200;
    }
    

    
}

@media(max-width:400px){
    .tech{
        font-size: 23px;
    }
    .card{
        margin-top: 10%;
        margin-left: 10%;
        width: 80%;
        /* margin-left: 20%; */
        min-height: 20vh;
    }
    
    .garry{
        width:100%;
    }
    .mission{
        margin-top: -10%;
        font-size: 13px;
        width: 100%;

    }
    .company{
        font-size: 15px;
    }
    body{
        font-size: 12px;
    }
}
